body { 
	margin:auto;
	@media (min-width: $xl){
		max-width: 2000px;
	}
}

.lrgWrapper { 
	margin: auto;
	width: 95%;
}

.medWrapper {
	width: 70%;
	margin: auto;
}

.smlWrapper {
	width: 50%;
	margin: auto;
}

