// .homeHeader * {
// 	border: 1px solid red;
// }

header { 
	z-index: 10;
}

#colouredBackground {
	background-color: transparent;
	position: absolute;
	top:0;
	left:0;
	right:0;
	height: 100vh;
	z-index: -1;
}

.homeHero{
	margin: auto;
}

.homeHeader {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	height: 70vh;
}

.topNav__container{
	display: flex;
	justify-content: space-between;
}

.topNav__links li{
	padding-left: 2rem;
	font-weight: $bold;
}