// .homeHeader * {
// 	border: 1px solid red;
// }

header { 
	z-index: 10;
}

.arrowBounce{
	border: none;
}
#colouredBackground {
	background-color: transparent;
	position: absolute;
	top:0;
	left:0;
	right:0;
	height: 100vh;
	z-index: -1;
	overflow: hidden;
	@media (max-width: $xs){
			height: 800px;
	}
}

.homeHeader {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding:3.5rem;
	text-align: center;
	width: 95%;
	height: 100vh;
}
.topNav__links {
	display: flex;
	width: 95%;
	justify-content: space-between;
	position: fixed;
	right: 50%;
	transform: translateX(50%);	
	z-index: 1;
}
