.homeAbout {
	background-color: $blue;
	color: $background;
}


.homeAbout__container {
	display: flex;
	padding-top: 3rem;
	padding-bottom: 3rem;
	@media (max-width: $sm){
		flex-direction: column;
	}
}

.homeAbout__bio {
	width: 50%;
	padding: 1rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-right: 6rem;
	@media (max-width: $sm){
		width: 100%;
		padding: 0;
		margin-top: 5rem;
	}

	p {
		margin-top: 1rem; 
	}

	h2{
		margin-bottom: 2rem;
	}

} 

.tech__tools {
	width: 50%;
	padding: 1rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	@media (max-width: $sm){
		width: 100%;
		padding:0;
		margin-top: 5rem;
		margin-bottom: 5rem;
	}

	h2{
		@media (max-width: $sm){
			margin-bottom: 3rem;
			margin-left: 0;
		}
		margin-left: 2rem;
		margin-bottom: 2rem;
	}
}

.iconContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	i {
		font-size: 3rem;
		margin: 2rem;
	}
}