.innerPagesHeader {
	position: fixed;
	right: 50%;
	transform: translateX(50%);	
	margin-top: 2rem;
	z-index: 1;
}

.projectTitle {
	margin-top: 7rem;
}

.projectHeroImg {
	//height: 80vh;
	z-index: -1;
}
.projectDetails {
	display: flex;
	@media (max-width: $sm){
		flex-wrap: wrap;
	}
}

.projectDetails__item {
	width: 16%;
	margin: 0.75%;
	@media (max-width: $sm){
		width: 48%;
	}
}
.twoColumn {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	img {
		width: 50%;
	}
}