//$titleFamily: "poppins", "helvetica", "calibre", "sans-serif";
$titleFamily: "futura-pt", sans-serif;
$bodyFamily: "adelle-sans", sans-serif;
$light: 300;
$bold: 500;

html {
  font-family: $bodyFamily;
  color: $darkestGrey;
  font-weight: $light;
  @media (min-width: $lg){
    font-size: 16px;
  }
  @media (max-width: $lg){
    font-size: 16px;
  }
  @media (max-width: $md){
    font-size: 15px;
  }
  @media (max-width: $sm){
    font-size: 15px;
  }
  @media (max-width: $xs){
    font-size: 15px;
  }
  @media (max-width: $xxs){
    font-size: 15px;
  }
}

.filterTitle,
label {
  padding: 0;
  font-family: $titleFamily;
  color: $darkestGrey;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  cursor: hand;
  transition: all 0.5s;
  margin: 0.5rem;
}

input[type="radio"]:checked+label {
  color: $accent;
  border: none;
}

.filterTitle {
   text-align: center;
}

label, 
header a,
 {
  border-bottom: 2px solid $darkestGrey;
  transform: scale(1);
  transition: all 0.2s;

  &:hover{
  text-decoration: line-through;
  border: none;
  }
}

a {
  cursor: pointer;
  transform: scale(1.05);
}


h1, h2, h3 {
  font-family: $titleFamily;
  color: $darkestGrey;
  font-weight: $bold;
}

h4, h5, h6 {
  font-family: $bodyFamily;
  font-weight: $light;
}

h1 {
  font-size: 5.5rem;
  line-height: 7rem;
  @media (min-width: $lg){
    font-size: 7rem;
  }
  @media (max-width: $lg){
    font-size: 6rem;
    line-height: 6.5rem;
  }
  @media (max-width: $md){
    font-size: 5rem;
    line-height: 5.5rem;
  }
  @media (max-width: $xs){
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

h2 { 
    font-family: $titleFamily;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 2.25rem;
    color: $darkestGrey;
    padding-top: 0.25rem;
    margin: 0;
    @media (max-width: $sm){
      font-size: 1.5rem;
    }
}

h5 { 
  margin: 0;
  font-size: 1.25rem;
  @media (max-width: $xs){
    font-size: 0.75rem;
  }
}

p {
  padding-top: 1rem;
  font-size: 0.85rem;
  line-height: 175%;
}
#contactMe a h1 {
  font-size: 3rem;
  @media (max-width: $sm){
    font-size: 2rem;
  }
}

.body-text{
  font-size: 1rem;
  line-height: 150%;
}

.homeHero h1 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.homeGallery__item a {
  transform: scale(1);
  transition: all 0.5s;
   // padding: 3rem;
   // background-color: #fff;
  // transform: scale(1.025);
  // box-shadow: 0px 0px 15px rgba(0,0,0,0.03);
   // @media (max-width: $md){
   //   padding: 1.75rem;
   // }
   // &:hover {
   //  padding:2rem;
   //  background-color: transparent;
   //  box-shadow: none;
   // }
  &:hover{
     box-shadow: 10px 10px 1px rgba(0,0,0,0.03);
     transform: translate(-10px, -10px);
    @media (max-width: $md){
      background-color: transparent;
       padding: 0;
       box-shadow: none;
    }
  }
}

.homeGallery__images__textContainer {
  h5 {
    text-decoration: none;

    font-size: 0.9rem;
    color: $darkestGrey;
    padding-top: 0.5rem;
    line-height: 175%;
    span {
      font-weight: $bold;
    }
  }
}

.projectTitle {
  font-size: 5rem;
  @media (max-width: $sm){
     font-size: 4.5rem;
     line-height: 1.5;
   }
   @media (max-width: $xs){
      font-size: 3rem;
      line-height: 1.5;
    }
}
.projectDetails__item p{
  padding-top: 0.5rem;
}

.projectSubtitles {
  font-size: 0.8rem;
  font-family: $titleFamily;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-top: 5rem;
  @media (max-width: $sm){
    padding-top: 1.5rem;
  }
}

.homeAbout__container h2 {
  padding-bottom: 1rem;
  color: $background;
  border-bottom: 2px solid $background;
}

.topNav__container{
   font-family: $titleFamily;
  text-transform: uppercase;
}

.innerPagesHeader_link{
  font-size: 1rem;
  color: $blue;
}
#arrowBounceLink {
  border-bottom: none;
}
#mcyc {
  font-size: 1.5rem;
  color: $accent;
  border: none;
}

#abtMeProj,
#contactProj,
#abtMeProj:visited,
#contactProj:visited {
  color: $accent;
  border: none;
}

#em {
  display: none; 
}

#nextProject, 
#prevProject {
   font-family: $titleFamily;
   text-transform: uppercase;
   border: none;
}