// breakpoint variables
$xl: 1400px;
$lg: 1220px;
$md: 1000px;
$sm: 850px;
$xs: 700px;
$xxs: 400px;


//////////////////
//// GENERAL ////
//////////////////
@import "setup";


////COMMON STYLES
@import "grid";
@import "colors";
@import "typography";

////Components
@import "header";
@import "homeGallery";
@import "homeAbout";
@import "footer";
@import "carousels";
@import "_projectDetails";

body {
	background-color: $background;
}

.imgVidContainer {
	font-weight: $bold;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.imgCaptions {
	padding-bottom: 1rem;
}

img {
	width: 100%;
}
// body * { 
// 	border: 1px solid red;
// }