// breakpoint variables
$xl: 1500px; //res img
$lg: 1225px;
$md: 1000px; //res img
$sm: 850px;
$xs: 700px; //res img
$xxs: 400px; //res img


//////////////////
//// GENERAL ////
//////////////////
@import "colors";
@import "setup";


////COMMON STYLES
@import "grid";
@import "typography";

////Components
@import "header";
@import "homeGallery";
@import "homeAbout";
@import "footer";
@import "carousels";
@import "projectDetails";
@import "dotNav";

body {
	background-color: $background;
	animation: fadein 1s ease-in;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.hidden {
	display:none;
}

a,
a:visited {
	color: $darkestGrey;
}
.imgVidContainer {
	font-weight: $bold;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.imgCaptions {
	padding-bottom: 1rem;
}

img {
	width: 100%;
}

// body * { 
// 	border: 1px solid red;
// }

// html {
// 	@media (max-width: $xl){
// 		background: blue;
// 	}
// 	@media (max-width: $lg){
// 		background: purple;
// 	}
// 	@media (max-width: $md){
// 		background: orange;
// 	}
// 	@media (max-width: $sm){
// 		background: yellow;
// 	}
// 	@media (max-width: $xs){
// 		background: green;
// 	}
// 	@media (max-width: $xxs){
// 		background: red;
// 	}
// }