// breakpoint variables
$xl: 1400px;
$lg: 1220px;
$md: 1000px;
$sm: 850px;
$xs: 700px;
$xxs: 400px;


//////////////////
//// GENERAL ////
//////////////////
@import "colors";
@import "setup";


////COMMON STYLES
@import "grid";
@import "typography";

////Components
@import "header";
@import "homeGallery";
@import "homeAbout";
@import "footer";
@import "carousels";
@import "projectDetails";
@import "dotNav";

body {
	background-color: $background;
	animation: fadein 1s ease-in;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.hidden {
	display:none;
}



.imgVidContainer {
	font-weight: $bold;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.imgCaptions {
	padding-bottom: 1rem;
}

img {
	width: 100%;
}

// body * { 
// 	border: 1px solid red;
// }